{% extends "layout" %}
{% block content %}

<h1>A jelenlegi Jelentkezesek</h1>

<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item"> {{ user.username }}</li>
        {% for application in user.applications %}
            <li class="list-group-item">SAJT</li>
        {% endfor %}
    {% endfor %}
</ul>


{% endblock %}
