{% extends "layout" %}
{% block content %}

<h1>A regisztrált userek:</h1>

<ul class="list-group">
    {% for user in users %}
    <li class="list-group-item"> {{ user.username }}</li>
    {% endfor %}
</ul>

<h1>Akik kollégiumba jelentkeztek:</h1>

 {% for jelent in jelentkezok %}
 {% for jel in jelent %}
  {% for user in users %}
     {% if user.id == jel %}
        <li class="list-group-item"> {{ user.username }}</li>
      {% endif %}
  {% endfor %}
  {% endfor %}
{% endfor %}


{% endblock %}
