{% extends "layout" %}

{% block scripts %}
<script src="/scripts/apply_cancel.js"></script>
{% endblock %}

{% block content %}

<h1>{{ name }}</h1>

<div class="row">
  {% for dorm in dorms %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{ dorm.name }}</h3>
        <p>{{ dorm.leader.name }}</p>
        <p>
          {% if applicationIds.indexOf(dorm.id) >= 0 %}
          <form action="/dormitory/{{ dorm.id }}/cancel" method="POST" class="application-form">
            {{ csrfField }}
            <button type="submit" class="btn btn-warning">Jelentkezés visszavonása</button>
          </form>
          {% else %}
          <form action="/dormitory/{{ dorm.id }}/apply" method="POST" class="application-form">
            {{ csrfField }}
            <button type="submit" class="btn btn-success">Jelentkezés</button>
          </form>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
